# Regiment

### Introduction:

Special thanks to: http://chrisalbon.com/ for sharing the dataset and materials.

### Step 1. Import the necessary libraries

### Step 2. Create the DataFrame with the following values:

In [1]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

### Step 3. Assign it to a variable called regiment.
#### Don't forget to name each column

In [3]:
df = pd.DataFrame(raw_data)
df

### Step 4. What is the mean preTestScore from the regiment Nighthawks?

In [12]:
df[df['regiment'] == 'Nighthawks'].groupby('regiment').mean()

### Step 5. Present general statistics by company

In [14]:
df.groupby('company').describe()

### Step 6. What is the mean each company's preTestScore?

In [18]:
df.groupby('company')['preTestScore'].mean()

### Step 7. Present the mean preTestScores grouped by regiment and company

In [21]:
df.groupby(['regiment', 'company']).preTestScore.mean()

### Step 8. Present the mean preTestScores grouped by regiment and company without heirarchical indexing

In [23]:
df.groupby(['regiment', 'company']).preTestScore.mean().unstack()

### Step 9. Group the entire dataframe by regiment and company

In [27]:
df.groupby(['regiment', 'company']).mean()

### Step 10. What is the number of observations in each regiment and company

In [30]:
df.groupby(['regiment', 'company']).size()

### Step 11. Iterate over a group and print the name and the whole data from the regiment

In [32]:
df

      regiment company      name  preTestScore  postTestScore
0   Nighthawks     1st    Miller             4             25
1   Nighthawks     1st  Jacobson            24             94
2   Nighthawks     2nd       Ali            31             57
3   Nighthawks     2nd    Milner             2             62
4     Dragoons     1st     Cooze             3             70
5     Dragoons     1st     Jacon             4             25
6     Dragoons     2nd    Ryaner            24             94
7     Dragoons     2nd      Sone            31             57
8       Scouts     1st     Sloan             2             62
9       Scouts     1st     Piger             3             70
10      Scouts     2nd     Riani             2             62
11      Scouts     2nd       Ali             3             70

In [33]:
for name, group in df.groupby('regiment'):
    print(name)
    print(group)

Dragoons
   regiment company    name  preTestScore  postTestScore
4  Dragoons     1st   Cooze             3             70
5  Dragoons     1st   Jacon             4             25
6  Dragoons     2nd  Ryaner            24             94
7  Dragoons     2nd    Sone            31             57
Nighthawks
     regiment company      name  preTestScore  postTestScore
0  Nighthawks     1st    Miller             4             25
1  Nighthawks     1st  Jacobson            24             94
2  Nighthawks     2nd       Ali            31             57
3  Nighthawks     2nd    Milner             2             62
Scouts
   regiment company   name  preTestScore  postTestScore
8    Scouts     1st  Sloan             2             62
9    Scouts     1st  Piger             3             70
10   Scouts     2nd  Riani             2             62
11   Scouts     2nd    Ali             3             70